@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }

    .header {
        // display: flex;
        background: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }
}

.fixed-col {
    flex: 0 0 100px;
    border: red 0px solid;
}
.active-item {
    border-bottom: 2px solid var(--ion-color-primary);
}

.dropdown {
    width: 136px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 87px;
    z-index: 1;
    ion-item:hover {
        --ion-item-color: var(--ion-color-primary);
    }
}
