<ion-content fullscreen>
  <ion-list>

    <ion-item button>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>
        <h3>profile</h3>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon slot="start" name="language"></ion-icon>
      <ion-label>
        <h3>Language</h3>
      </ion-label>
    </ion-item>


    <ion-item button>
      <ion-icon slot="start" name="radio-outline"></ion-icon>
      <ion-label>
        <h3>Start Smart</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>