<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/logo.svg" />
    <h2>Welcome to Centene Member Mobile App</h2>
    <p>Centene Copyright 2021</p>
  </ion-slide>
  <ion-slide>
    <h2>Centene Project 1</h2>
  </ion-slide>
  <ion-slide>
    <h2>Centene Documentation</h2>
  </ion-slide>
</ion-slides>