<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit....
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>