<ion-header>
  <ion-toolbar color="mango">
    <img src="assets/images/logo.svg" width="60px" height="40px" class="smallLogo" />
    <ion-title>Login

    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="postData.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <!-- <ion-item lines='none'>
        <a routerLink='/signup'>Create Account</a>
      </ion-item> -->
    </ion-list>
    <ion-button expand="block" share="round" (click)="loginAction()">Login</ion-button>
  </form>
</ion-content>