.hero {
    background-image: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
