@media (min-width: 768px) {
    ion-router-outlet {
        margin-top: 63px;
    }
}

@media (max-width: 768px) {
    ion-router-outlet {
        margin-top: 56px;
    }
}

.active-item {
    color: var(--ion-color-primary);
    font-weight: 500;
    ion-icon {
        color: var(--ion-color-primary);
    }
}

//* */
.main-header {
    border: 1px soild red;
    // height: 13vh;
    //width: 120%;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;

    ion-avatar {
        width: 10vh;
        height: 10vh;
        background: var(--ion-color-white);
        margin-bottom: 5px;
        border: 4px solid var(--ion-color-secondary);
    }
    ion-col {
        // border: 1px solid grey;
        // text-align: left;
        display: flex;
        align-items: center;
    }
}
