<ion-menu contentId="main" menuId="myMenu" side="start">
  <ion-header class="main-header">

    <ion-toolbar>
      <ion-title>
        <!-- <ion-row style=" border: 1px solid red; text-align: left;">
          <ion-col>
            <ion-avatar>
              <img src="../../assets/images/1.png" />
            </ion-avatar>
          </ion-col>
          <ion-col ion-item no-lines text-center>
            Kifah Byish
            <ion-label> </ion-label>
          </ion-col>
        </ion-row> -->


        <ion-row no-padding justify-content-start align-items-start>
          <ion-col size="auto" ion-item no-lines no-padding text-center col-2>
            <ion-avatar>
              <img src="../../assets/images/1.png" />
            </ion-avatar>
          </ion-col>
          <ion-col> {{ userData?.name}}</ion-col>
        </ion-row>

      </ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-content>


    <ion-menu-toggle *ngFor="let item of menuItems">
      <!-- <ion-item button (click)="setTitle(item.title)" [routerLink]="item.path" routerDirection="root"
        routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{ item.title }}
      </ion-item> -->
      <ion-item button (click)="setTitle(item)" routerLinkActive="active-item"
        [routerLinkActiveOptions]="{exact: true}">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{ item.title }}
      </ion-item>
    </ion-menu-toggle>
    <ion-item button (click)="logout()">
      Logout
    </ion-item>
  </ion-content>
</ion-menu>

<!-- Global App Header -->
<app-header [title]="title"></app-header>

<ion-router-outlet id="main"></ion-router-outlet>